<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="article.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <article class="row article">
            <div class="col col-cl-5 col-tb-4 col-dk-4">
                <img class="col-cl-5" src="../../img/tucano.jpg" alt="" >
                <p class="col-cl-5 article__paragraph">Teste teste</p>
            </div>
            <div class="col col-cl-5 col-tb-4 col-dk-4">
                <img class="col-cl-5" src="../../img/tucano.jpg" alt="" >
                <p class="col-cl-5 article__paragraph">Teste teste</p>
            </div>
            <div class="col col-cl-5 col-tb-4 col-dk-4">
                <img class="col-cl-5" src="../../img/tucano.jpg" alt="" >
                <p class="col-cl-5 article__paragraph">Teste teste</p>
            </div>
            <div class="col col-cl-5 col-tb-4 col-dk-4">
                <img class="col-cl-5" src="../../img/tucano.jpg" alt="" >
                <p class="col-cl-5 article__paragraph">Teste teste</p>
            </div>
            <div class="col col-cl-5 col-tb-4 col-dk-4">
                <img class="col-cl-5" src="../../img/tucano.jpg" alt="" >
                <p class="col-cl-5 article__paragraph">Teste teste</p>
            </div>
            <div class="col col-cl-5 col-tb-4 col-dk-4">
                <img class="col-cl-5" src="../../img/tucano.jpg" alt="" >
                <p class="col-cl-5 article__paragraph">Teste teste</p>
            </div>
        </article>
        
    </div>
</body>
</html>