<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/grid.css">
    <link rel="stylesheet" href="section.css">
    <title>Section Component</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="row__image col-cl-5 col-tb-4 col-dk-6"></div>
            <div class="row__title col-cl-3 col-tb-3 col-dk-4"></div>
            <div class="row__line col-cl-5 col-tb-4 col-dk-6"></div>
            <div class="row__line col-cl-5 col-tb-4 col-dk-6"></div>
            <div class="row__line col-cl-5 col-tb-4 col-dk-6"></div>
            <div class="row__line col-cl-5 col-tb-4 col-dk-6"></div>
            <div class="row__line col-cl-5 col-tb-4 col-dk-6"></div>
                 
        </div>
    </div>
</body>

</html>