.row__image {
    height: 200px;
    background-color: gray;
    margin:4px;
    border-radius: 25px;
}

.row-conteudo__title {
    height: 30px;
    background-color: darkgray;
    margin:7px 4px;
    

}

.row-conteudo__line {
    height: 25px;
    background-color: lightgray;
    margin: 4px;
}

.row-conteudo__line :first-of-type {
    margin-top: 10px;
}

.row-conteudo__line :last-of-type {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
.row-conteudo__title {
    float: left;
    display: inline-block;
    margin-right: -4px;
}

.row-conteudo__line {
    float: left;
    display: inline-block;
    margin-right: -4px;
}

.row__image {
    float: right;
}
} 
    