<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header class="col-cel-5 col-tb-10 col-dk-12">
        <div class="col-cel-1 col-tb-1 col-dk-1"></div>
        <ul class="col-cel-1 col-dk-6 col-tb-7">
            <li class="col-tb-1 col-dk-1"></li>
            <li class="col-tb-1 col-dk-1"></li>
            <li class="col-tb-1 col-dk-1"></li>
            <li class="col-tb-1 col-dk-1"></li>
            <li class="col-tb-1 col-dk-1"></li>
            <li class="col-tb-1 col-dk-1"></li>
        </ul>
    </header>
    
</body>
</html>